@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');
* {
  font-family: Roboto;
  margin: 0;
  padding: 0;
  box-sizing:border-box;
  text-align: center;
}
#navbar {
  width: 100%;
  background: black;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: flex-end;
}
nav a{
  color: white;
  text-decoration: none;
  display: block;
  padding: 13px;
  font-size: 20px;
}
nav a:hover{
  background: #bbb;
}
#welcome-section {
  font-size: 25px;
  margin-top: 51px;
  height: 450px;
  width: 100%;
  display: flex; 
  background-image: url("https://sm.mashable.com/t/mashable_in/photo/default/nasa-galaxy_9pu4.1248.jpg");
  color: white;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#project-container {
  display: flex;
  flex-wrap: wrap;
}
.project-tile {
  flex: 50%;
  margin: 15px;
}
#button {
  background-color: crimson;
  padding: 10px;
  font-weight: bold;
  font-size: 16px;
  margin: 10px;
  border-radius: 3px;
}

#contact {
  background: #bbb;
  height: 70px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#contact a {
  padding: 10px;
}
#projects p {
  font-size:32px;
  padding: 10px;
}
@media screen and (max-width: 500px)
{
  #project-tile {
    width: 100%;
  }
  #project-container {
    flex-direction: column;
  }
}
